.entry {
    clear: left;
 



}

html {
    font-family: Tahoma, Helvetica, sans-serif;
    
}

h1 {
    font-size: 1.8em;
    padding-left: 1em;

}

h2 {
    font-size: 1.2em;

}

p,
body {
    font-size: 0.9em;
    background-color: black;
}

header,
#right-sidebar,
#center {
    background-color: #f5f5f5;
}

header {
    height: 45px;
    white-space: nowrap;
    margin-left: 5em;
    margin-top: 2em;
    margin-right: 5em;
    margin-bottom: 2em;
}

article {
    height: 600px;
}

#right-sidebar {
    float: left;
    height: 600px;
    margin-left: 5em;
    padding-right: 1em;
    padding-left: 1em;
    width: 11em;

}

#center {
    overflow: auto;
    margin-left: 20em;
    margin-right: 5em;
    margin-bottom: 2em;



}

footer {
    background-color: rgb(71, 71, 71);
    color: white;
    height: 15em;
    padding-top: 2em;
}


.footer-related {
    float: left;
    margin-left: 5em;
    width: 20em;




}

.footer-related img {
    padding: 0.1em;
}

.footer-section {
    margin-left: 28em;
    margin-right: 5em;



}

figure {
    position: relative;
    float: left;
    margin-bottom: 0.5em;


}

.overlayed {
    position: absolute;
    left: 0.5px;
}

figcaption {
    position: absolute;
    bottom: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 4px;
    padding-bottom: 4px;
    width: 146px;


}

h2 {
    padding-top: 1em;
    border-top: 1px solid #ff8800;
}


.linkbutton {
    display: block;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 0.5em;
    background-color: #ff8800;
    color: white;
    text-align: center;
    text-decoration: none;

}